Localization
{

  ru
  {
    // Manufacturers
    #LOC_MarkIV_manufacturer_KVRoe = К.В. Рой и Компания

    #LOC_MarkIV_switcher_fuel_title = Тип бака
    #LOC_MarkIV_switcher_fuel_mp = Монотопливо
    #LOC_MarkIV_switcher_fuel_lf = ЖТ
    #LOC_MarkIV_switcher_fuel_lfo = ЖТ/Ок
    #LOC_MarkIV_switcher_fuel_lf-mp =ЖТ/МТ
    #LOC_MarkIV_switcher_fuel_lfo-mp = ЖТ/Ок/МТ

    #LOC_MarkIV_switcher_fuel_lh2 = ЖH2
    #LOC_MarkIV_switcher_fuel_lh2o = ЖH2/Ок
    #LOC_MarkIV_switcher_fuel_lh2-mp = ЖH2/МТ
    #LOC_MarkIV_switcher_fuel_lh2o-mp = ЖH2/Ок/МТ

    // Adapters and tails
    #LOC_MarkIV_mk4adapter-1_title = Двойной адаптер Mk4
    #LOC_MarkIV_mk4adapter-1_description = Этот адаптер с несколько неудачным названием также можно назвать четырехпозиционным адаптером. Он позволяет преобразовать универсальный блок Mk4 в пару креплений диаметром 2.5 м и два боковых крепления диаметром 1.25 м.
    #LOC_MarkIV_mk4adapter-1_tags =fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 adapt stack
    #LOC_MarkIV_mk4adapter-2_title = Одиночный адаптер Mk4
    #LOC_MarkIV_mk4adapter-2_description = Этот универсальный адаптер позволяет преобразовать многофункциональную систему крепления Mk4 в одно крепление диаметром 3.75 м и два боковых крепления диаметром 1.25 м. По сути, это тройной адаптер. Используйте его для любых целей, чтобы ваше плавсредство стало более удобным!
    #LOC_MarkIV_mk4adapter-2_tags =fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 adapt stack
    #LOC_MarkIV_mk4adapter-3_title = Адаптер Mk4-Mk3
    #LOC_MarkIV_mk4adapter-3_description = Переходник с Mk4 на Mk3. Также включает два боковых крепления диаметром 1.25 м!
    #LOC_MarkIV_mk4adapter-3_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 adapt stack
    #LOC_MarkIV_mk4tail-1_title = Хвостовик 'Игуана' Mk4
    #LOC_MarkIV_mk4tail-1_description = Простой и лаконичный способ завершения сборки Mk4. Имеет точки крепления для боковых элементов или двигателей.
    #LOC_MarkIV_mk4tail-1_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 tail
    #LOC_MarkIV_mk4tail-2_title = Хвостовик 'Армадилло' Mk4
    #LOC_MarkIV_mk4tail-2_description = Этот адаптер представляет собой, по сути, стандартную деталь кабины Mk4, переделанную в бассейн. Бассейн, наполненный ракетным топливом. В комплект входит пара боковых креплений длиной 1.25 м.
    #LOC_MarkIV_mk4tail-2_tags =  fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 tail
    #LOC_MarkIV_mk4tail-3_title = Хвостовик 'Скат' Mk4
    #LOC_MarkIV_mk4tail-3_description = Этот адаптер очень острый. В комплект входят пара боковых креплений длиной 1.25 м.
    #LOC_MarkIV_mk4tail-3_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4 tail end sharp

    // Cargo and service
    #LOC_MarkIV_mk4cargo-1_title = Грузовой Отсек CRG-240 Mk4
    #LOC_MarkIV_mk4cargo-1_description = Предназначен для перевозки особо крупных грузов. В боковых отсеках можно хранить авиационное топливо, ракетное топливо или монотопливо.
    #LOC_MarkIV_mk4cargo-1_tags = contain convey equipment freight hold hollow payload (stor transport utility mark4 markiv
    #LOC_MarkIV_mk4cargo-2_title = Грузовой Отсек CRG-120 Mk4
    #LOC_MarkIV_mk4cargo-2_description = Среднеразмерный грузовой модуль для фюзеляжа Mk4. Может хранить авиационное топливо, ракетное топливо или монотопливо в боковых отсеках.
    #LOC_MarkIV_mk4cargo-2_tags = contain convey equipment freight hold hollow payload (stor transport utility mark4 markiv
    #LOC_MarkIV_mk4cargo-3_title = Грузовой отсек CRG-60 Mk4
    #LOC_MarkIV_mk4cargo-3_description = Крайне короткий грузовой модуль для фюзеляжа Mk4. Может хранить авиационное топливо, ракетное топливо или однокомпонентное топливо в боковых отсеках.
    #LOC_MarkIV_mk4cargo-3_tags = contain convey equipment freight hold hollow payload (stor transport utility mark4 markiv
    #LOC_MarkIV_mk4cargo-drop-1_title = Грузовой Отсек DRP-240 Mk4
    #LOC_MarkIV_mk4cargo-drop-1_description = Удлинённый грузовой модуль с раскрытием вниз для фюзеляжа Mk4. Может хранить авиационное топливо, ракетное топливо или монотопливо в боковых отсеках.
    #LOC_MarkIV_mk4cargo-drop-1_tags = contain convey equipment freight hold hollow payload (stor transport utility under belly mark4 markiv
    #LOC_MarkIV_mk4cargo-drop-2_title = Грузовой Отсек DRP-120 Mk4
    #LOC_MarkIV_mk4cargo-drop-2_description = Грузовой модуль с раскрытием вниз для фюзеляжа Mk4. Может хранить авиационное топливо, ракетное топливо или однокомпонентное топливо в боковых отсеках.
    #LOC_MarkIV_mk4cargo-drop-2_tags = contain convey equipment freight hold hollow payload (stor transport utility under belly mark4 markiv
    #LOC_MarkIV_mk4cargo-drop-3_title = Грузовой Отсек DRP-60 Mk4
    #LOC_MarkIV_mk4cargo-drop-3_description =  Короткий грузовой модуль с раскрытием вниз для фюзеляжа Mk4. Может хранить авиационное топливо, ракетное топливо или монотопливо в боковых отсеках.
    #LOC_MarkIV_mk4cargo-drop-3_tags = contain convey equipment freight hold hollow payload (stor transport utility under belly mark4 markiv
    #LOC_MarkIV_mk4cargotail-1_title = Хвостовой Грузовой Отсек Mk4
    #LOC_MarkIV_mk4cargotail-1_description = Грузовой модуль с рампой. Регулируемая грузовая рампа позволяет кербалам, вездеходам, овцам и всяким другим существам входить, выходить и кричать от ужаса из-за отсутствия каких-либо внутренних элементов управления открыванием.
    #LOC_MarkIV_mk4cargotail-1_tags = contain convey equipment freight hold hollow payload (stor transport utility mark4 markiv tail end
    #LOC_MarkIV_mk4servicebay-1_title = Сервисный Модуль Mk4
    #LOC_MarkIV_mk4servicebay-1_description = В этом удобном сервисном отсеке можно хранить все, что угодно! Он оснащен тремя открывающимися люками для выхода в атмосфере или за ее пределами.
    #LOC_MarkIV_mk4servicebay-1_tags = contain convey equipment freight hold hollow payload (stor transport utility serv mono rcs eva mark4 markiv

    #LOC_MarkIV_mk4servicebay-1_action_toggle = Переключить люк
    #LOC_MarkIV_mk4servicebay-1_action_start =  Открыть люк
    #LOC_MarkIV_mk4servicebay-1_action_stop = Закрыть люк

    // Fuselage
    #LOC_MarkIV_mk4fuselage-1_title = Удлинённый фюзеляж Mk4
    #LOC_MarkIV_mk4fuselage-1_description = Удлинённый фюзеляж Mk4 компании К.В. Рой и Компания. Содержит большие основные баки, вмещающие авиационное или ракетное топливо, и боковые баки, вмещающие однокомпонентное топливо или дополнительное ракетное/авиационное топливо.
    #LOC_MarkIV_mk4fuselage-1_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4
    #LOC_MarkIV_mk4fuselage-2_title = Средний фюзеляж Mk4
    #LOC_MarkIV_mk4fuselage-2_description = Фюзеляж средней длины Mk4 компании К.В. Рой и Компания. Содержит большие основные баки, вмещающие авиационное или ракетное топливо, и боковые баки, вмещающие однокомпонентное топливо или дополнительное ракетное/авиационное топливо.
    #LOC_MarkIV_mk4fuselage-2_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4
    #LOC_MarkIV_mk4fuselage-3_title = Короткий фюзеляж Mk4
    #LOC_MarkIV_mk4fuselage-3_description = Короткий фюзеляж Mk4 компании К.В. Рой и Компания. Содержит большие основные баки, вмещающие авиационное или ракетное топливо, и боковые баки, вмещающие однокомпонентное топливо или дополнительное ракетное/авиационное топливо.
    #LOC_MarkIV_mk4fuselage-3_tags = fueltank ?lfo liquid oxidizer propellant tank aircraft airplane jet ?lf only plane markiv mark4

    // Nosecones and shoulders
    #LOC_MarkIV_mk4nose-docking_title = Стыковочный порт с обтекателем Mk4
    #LOC_MarkIV_mk4nose-docking_description = Этот носовой обтекатель оснащен усовершенствованными выдвижными стыковочными механизмами, которые идеально подходят для кабины Mk4 'Громовой ястреб'.
    #LOC_MarkIV_mk4nose-docking_tags = aero aircraft booster )cap drag fligh plane rocket stab stream tail mark4 markiv thunderhawk berth capture connect couple dock fasten join moor port socket
    #LOC_MarkIV_mk4nose_title = Носовой обтекатель 'Снупи' Mk4
    #LOC_MarkIV_mk4nose_description = Носовой обтекатель, специально разработанный для кабины 'Громовой ястреб' Mk4 и аналогичных деталей.
    #LOC_MarkIV_mk4nose_tags = aero aircraft booster )cap drag fligh plane rocket stab stream tail mark4 markiv thunderhawk
    #LOC_MarkIV_mk4shoulder-1_title = Аэродинамический выступ Mk4
    #LOC_MarkIV_mk4shoulder-1_description = Закругленная аэродинамическая деталь, которая может быть присоединена ко многим адаптерам и кабинам линейки Mk4 для создания дополнительных точек крепления двигателей или полезной нагрузки.
    #LOC_MarkIV_mk4shoulder-1_tags = aero aircraft booster )cap drag fligh plane rocket stab stream tail mark4 markiv thunderhawk
    #LOC_MarkIV_mk4shoulder-2_title = Орбитальный Модуль РСУ Mk4
    #LOC_MarkIV_mk4shoulder-2_description = Вариант стандартного модуля РСУ для боковых креплений Mk4.
    #LOC_MarkIV_mk4shoulder-2_tags =  aero aircraft booster )cap drag fligh plane rocket stab stream tail mark4 markiv thunderhawk cluster control dock maneuver manoeuvre react rendezvous rotate stab steer translate heavy shield
    #LOC_MarkIV_mk4shoulder-3_title = Воздухозаборник Mk4
    #LOC_MarkIV_mk4shoulder-3_description = Воздухозаборник высокой степени сжатия системы Mk4. Эффективен на больших высотах и скоростях.
    #LOC_MarkIV_mk4shoulder-3_tags =  aero aircraft booster )cap drag fligh plane rocket stab stream tail mark4 markiv thunderhawk aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic

    // Command
    #LOC_MarkIV_mk4cockpit-1_title = Кабина 'Громовой ястреб' Mk4
    #LOC_MarkIV_mk4cockpit-1_description = Звезда линейки Mk4, модель с удачным названием 'кабина', позволяет четырем кербонавтам стильно путешествовать по миру. Приобретя комплект для повышения давления (25 000 кредитов за единицу), вы сможете отправиться даже в космос! Новая модель оснащена точками крепления оборудования с каждой стороны кабины пилота (продаются отдельно). Также служит в качестве удобной точки управления зондом.
    #LOC_MarkIV_mk4cockpit-1_tags =mark4 markiv aero aircraft cmg command control ?eva fly gyro ?iva moment pilot plane react space stab steer torque thunder bird two
    #LOC_MarkIV_mk4cockpit-2_title = Кабина 'Стервятник' Mk4
    #LOC_MarkIV_mk4cockpit-2_description = Эта усовершенствованная кабина идеально подходит для полетов на особенно высокой скорости. Она вмещает трех пилотов и четырех пассажиров и оснащена выдвижной системой стыковки.
    #LOC_MarkIV_mk4cockpit-2_tags = aero aircraft cmg command control ?eva fly gyro ?iva moment pilot plane react space stab steer torque thunder bird fast berth capture connect couple dock fasten join moor port socket mark4 markiv
    #LOC_MarkIV_mk4crewcabin-1_title = Кабина экипажа Mk4
    #LOC_MarkIV_mk4crewcabin-1_description = Может перевозить 12 кербалов. Парашютов всего четыре. Обратите внимание, что капсула полая - внизу у нас будет достаточно места для хранения припасов. Кроме того, в боковых отсеках можно хранить немного топлива, окислителя или монотоплива.
    #LOC_MarkIV_mk4crewcabin-1_tags =  base contain outpost passenger statio (stor tour mark4 markiv
    #LOC_MarkIV_mk4drone-1_title  = Беспилотный модуль Mk4
    #LOC_MarkIV_mk4drone-1_description = Благодаря мощным гиродинам этого продвинутого, высокотехнологичного модуля проблемы с управлением могут уйти в прошлое. Матрица управления беспилотным летательным аппаратом, обладающая почти полноценным разумом (по меркам кербалов), очень эффективна при имитации кербалов, и похоже она уже что-то замышляет.
    #LOC_MarkIV_mk4drone-1_tags = aero aircraft cmg command control fly gyro kerbnet moment plane probe react sas satellite space stab steer torque cylon mark4

    // RCS
    #LOC_MarkIV_mk4rcsblister-2_title = Тяжелый Модуль РСУ ARV-50-2
    #LOC_MarkIV_mk4rcsblister-2_description = Этот маневренный модуль специально разработанный для боковых креплений Mk4, обеспечивает превосходное управление в пяти направлениях при установке с каждой стороны космического аппарата.
    #LOC_MarkIV_mk4rcsblister-2_tags =mark4 markiv cluster control dock maneuver manoeuvre react rendezvous rotate stab steer translate heavy shield

  }
}
